$color-principal: #3c2313;
$color-secundario: #f0a83e;
$color-barra1: #222222;
$color-texto-sec: #666666;
$color-texto-btn: #ffffff;
$color-texto-footer: #8a8787;
$height-img-items: 245.92px;
$width-img-items: 239px;
$color-items: #fbfaf6;
